* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  text-align: center;
  font-size: 40px;
}

.flex-items {
  padding: 20px;
  margin: 80px auto;
  background-color: aqua;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
}

.item {
  padding: 15px 20px;
  width: 200px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 900;
}

.item-2 {
  /* flex-grow: 1; */
  /* flex-basis: 300px; */
  /* order: -1; */
  /* flex-shrink: 0; */
}

.item-4 {
  /* flex-grow: 2; */
  /* flex-basis: 200px; */
  /* order: -2; */
}
